##################
####    OS    ####
##################
**.DS_Store

##################
#### VS Code  ####
##################
.vscode

##################
###  Testing  ####
##################
**.ipynb

##################
###   Caching  ###
##################
*.pyc
__pycache__
/src/mise_qda.egg-info/*